[project]
	description = website
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Iftikhar Hossain (iftitutul)
[access "refs/for/refs/*"]
	read = group user/Iftikhar Hossain (iftitutul)
	push = group user/Iftikhar Hossain (iftitutul)
	label-Code-Review = -2..+2 group user/Iftikhar Hossain (iftitutul)
	label-Verified = -1..+1 group user/Iftikhar Hossain (iftitutul)
	rebase = group user/Iftikhar Hossain (iftitutul)
	removeReviewer = group user/Iftikhar Hossain (iftitutul)
	submit = group user/Iftikhar Hossain (iftitutul)
[access "refs/heads/*"]
	read = group user/Iftikhar Hossain (iftitutul)
	create = group user/Iftikhar Hossain (iftitutul)
	push = +force group user/Iftikhar Hossain (iftitutul)
	pushMerge = group user/Iftikhar Hossain (iftitutul)
[access "refs/tags/*"]
	push = group user/Iftikhar Hossain (iftitutul)
	push = +force group user/Iftikhar Hossain (iftitutul)
